<h1>Login</h1>

<form>
    <div class="mb-3">
        <label class="form-label">Login</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" class="form-control">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Entrar</button>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Esqueci a senha</button>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Novo usuário</button>
    </div>
</form>