<h1>Posts <span class="btn btn-success" [routerLink]="['/add-post']">NOVO</span></h1>
<div class="bd-example">
    <form class="row g-3" [formGroup]="form">
        <div class="col-auto">
            <input type="text" class="form-control-plaintext" formControlName="buscar" placeholder="O que você deseja buscar?">
        </div>
        <div class="col-auto">
            <button type="submit" [disabled]="!this.form.valid" class="btn btn-primary mb-3" (click)="getPagesList()">Salvar</button>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Imagem</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let post of posts">

        <td>
            <span class="btn btn-success" (click)="goToEdit(post)">Alterar</span>&nbsp;
            <span class="btn btn-primary" (click)="goToDetails(post)">Detalhes</span>
        </td>
        <td>{{post.titulo}}</td>
        <td>{{post.descricao}}</td>
        <td><img src="{{post.imagem}}" width="200"></td>
        <td>
            <span class="btn btn-danger" (click)="delete(post,template)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
            </span>
        </td>
        
    </tr>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {{link.active==true?'active':''}}" *ngFor="let link of links"><button class="page-link" [disabled]="link.active" (click)="getPagesList(link.url)">{{link.label}}</button></li>
        </ul>
      </nav>
    </tbody>
</table>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja continuar?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
</ng-template>
