
<h1>Posts <span class="btn btn-success" [routerLink]="['/add-post']">NOVO</span></h1>
<div class="bd-example">
    <form class="row g-3" [formGroup]="form">
        <div class="col-auto">
            <input type="text" class="form-control-plaintext" formControlName="buscar" placeholder="O que você deseja buscar?">
        </div>
        <div class="col-auto">
            <button type="submit" [disabled]="!this.form.valid" class="btn btn-primary mb-3" (click)="getPagesList()">Salvar</button>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Imagem</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let post of posts">

        <td>
            <span class="btn btn-primary" (click)="goToDetails(post)">Detalhes</span>&nbsp;

            <span class="btn btn-success" (click)="goToEdit(post)">Alterar</span>
        </td>

        <td>{{post.id}}</td>
        <td>{{post.titulo}}</td>
        <td>{{post.descricao}}</td>
        <td><img src="{{post.imagem}}" width="200"></td>
        <td><span class="btn btn-danger" (click)="delete(post,template)">X</span></td>
        
    </tr>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {{link.active==true?'active':''}}" *ngFor="let link of links"><button class="page-link" [disabled]="link.active" (click)="getPagesList(link.url)">{{link.label}}</button></li>
        </ul>
      </nav>
    </tbody>
</table>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja continuar?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
</ng-template>
