
<h1>Posts <span class="btn btn-success" [routerLink]="['/add-post']">NOVO</span></h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.titulo}}</td>
        <td>{{post.descricao}}</td>
        <td>
            <span class="btn btn-primary" (click)="goToDetails(post)">Detalhes</span>

            <span class="p-1">
                <span class="btn btn-success" (click)="goToEdit(post)">Alterar</span>
            </span>

            <span class="p-1">
                <span class="btn btn-danger" (click)="goToDelete(post)">Excluir</span>
            </span>
        </td>
    </tr>
    
    </tbody>
</table>

