
<h1>Posts <span class="btn btn-success" [routerLink]="['/add-post']">NOVO</span></h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Titulo1</td>
        <td>Descrição1</td>
        <td>
            <span class="btn btn-primary" [routerLink]="['/detail-posts']">Detalhes</span>

            <span class="p-1">
                <span class="btn btn-success" [routerLink]="['/update-post']">Alterar</span>
            </span>

            <span class="p-1">
                <span class="btn btn-danger">Excluir</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>Titulo2</td>
        <td>Descrição2</td>
        <td>
            <span class="btn btn-primary" [routerLink]="['/detail-posts']">Detalhes</span>

            <span class="p-1">
                <span class="btn btn-success" [routerLink]="['/update-post']">Alterar</span>
            </span>

            <span class="p-1">
                <span class="btn btn-danger">Excluir</span>
            </span>
        </td>
    </tr>
    </tbody>
</table>

